.main-page-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.middle-content{
    width: 800px;
}

.Header{
    margin: 25px 0 10px 0;
    text-align: center;
}

.radio-buttons-auto{
    margin: 10px 0 40px 50px;
}

.radio-buttons-man{
    margin: 10px 0 40px;
}

.color-dl{
    margin-left: 10px;
}